{
  "rules": {
    "space-before-function-paren": [
      2,
      {
        "anonymous": "always",
        "named": "never"
      }
    ],
    "no-use-before-define": [
      2,
      "nofunc"
    ],
    "comma-dangle": [
      0
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "no-underscore-dangle": [
      0
    ]
  },
  "env": {
    "node": true,
    "jest/globals": true
  },
  "plugins": [ "jest" ],
  "parserOptions": {
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:jest/recommended"
  ]
}
